@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
body{
  font-family: 'Merriweather', serif;
}
img{
  width:125px;
  height:125px;
}
.product-list{
  background-color: lightcyan;
  padding: 10px;
  box-shadow: 0.5rem 1.0rem 1.5rem rgba(0,0,0,0.3);
  border-radius: 0.7rem;
}

.cart-list {
  padding: 10px;
  box-shadow: 0.5rem 1.0rem 1.5rem rgba(0,0,0,0.3);
  background-color: lightblue;
  border-radius: 0.7rem;
}